# Exclude additional vendor directories from GitHub language statistics

.nuget/**                 linguist-vendored
libs/**                   linguist-vendored
NUnit.Runners*/**         linguist-vendored
packages/**               linguist-vendored
RubyInstallationFiles/**  linguist-vendored
