*~
*.swp
**/bin
**/obj
*.bak
*.*scc
*.user
*.suo
*.webinfo
bin
obj
*.pdb
*resharper*
*_ReSharper*
*.trx
*.patch
**/TestResult.xml
new.html
source.html
*.nupkg
*.zip
**/*crunchsolution.cache*
**/*.crunchproject.local.xml
**/*.crunchsolution.local.xml
**/*.ncrunchproject
**/*.ncrunchsolution
*.userprefs
Gemfile.lock
packages/*
icarus.gallio
_site
*.#*
**/*~HEAD
TAGS
**/TestResults/
**/.vscode/
