<p><a name="inheritance"></a></p>
<div class="zone zone-sub-page-title">
<h1>inheritance</h1>
</div>
<div id="layout-content" class="group" style="padding-top: 10px;">
<pre id="describe_inheritance_code" data-timestamp="2016-04-13 07:08:50 -0600" class="brush: csharp;">﻿using NSpec;

[Tag(&quot;describe_inheritance&quot;)]</pre>
<pre id="describe_inheritance_output" data-timestamp="2016-04-13 07:08:50 -0600" style="font-size: 1.1em !important; color: #5ce632; background-color: #1b2426; padding: 10px;">given the sequence starts with 1
  given the sequence continues with 2
    given the sequence continues with 3
      sequence should be &quot;123&quot;

1 Examples, 0 Failed, 0 Pending
</pre>
</div>