<p><a name="my_first_spec"></a></p>
<div class="zone zone-sub-page-title">
<h1>my first spec</h1>
</div>
<div id="layout-content" class="group" style="padding-top: 10px;">
<pre id="my_first_spec_code" data-timestamp="2015-10-04 16:42:34 -0600" class="brush: csharp;">﻿using NSpec;

class my_first_spec : nspec
{
    void given_the_world_has_not_come_to_an_end()
    {
        it[&quot;Hello World should be Hello World&quot;] = () =&gt; &quot;Hello World&quot;.should_be(&quot;Hello World&quot;);
    }
}
</pre>
<pre id="my_first_spec_output" data-timestamp="2015-10-04 16:42:34 -0600" style="font-size: 1.1em !important; color: #5ce632; background-color: #1b2426; padding: 10px;">my first spec
  given the world has not come to an end
    Hello World should be Hello World

1 Examples, 0 Failed, 0 Pending
</pre>
</div>