<p><a name="shared_behavior"></a></p>
<div class="zone zone-sub-page-title">
<h1>shared behavior</h1>
</div>
<div id="layout-content" class="group" style="padding-top: 10px;">
<pre id="describe_shared_behavior_code" data-timestamp="2016-09-26 10:19:02 -0600" class="brush: csharp;">﻿using System;
using System.Collections.Generic;
using System.Linq;
using NSpec;
</pre>
<pre id="describe_shared_behavior_output" data-timestamp="2016-09-26 10:19:02 -0600" style="font-size: 1.1em !important; color: #5ce632; background-color: #1b2426; padding: 10px;">0 Examples, 0 Failed, 0 Pending
</pre>
</div>