<p><a name="specifications"></a></p>
<div class="zone zone-sub-page-title">
<h1>specifications</h1>
</div>
<div id="layout-content" class="group" style="padding-top: 10px;">
<pre id="describe_specifications_code" data-timestamp="2016-04-26 15:59:04 -0600" class="brush: csharp;">using NSpec;
</pre>
<pre id="describe_specifications_output" data-timestamp="2016-04-26 15:59:04 -0600" style="font-size: 1.1em !important; color: #5ce632; background-color: #1b2426; padding: 10px;">describe specifications
  when creating specifications
    true should be false - FAILED - Expected: False
, But was: True
    enumerable should be empty
    enumerable should contain 1
    enumerable should not contain 1 - FAILED - Expected: not collection containing 1
, But was: &lt; 1 &gt;
    1 should be 2 - FAILED - Expected: 2
, But was: 1
    1 should be 1
    1 should not be 1 - FAILED - Expected: not 1
, But was: 1
    1 should not be 2
    &quot;&quot; should not be null
    some object should not be null - FAILED - Expected: not null
, But was: null
    ninja should not be pirate

**** FAILURES ****

nspec. describe specifications. when creating specifications. true should be false.
Expected: False
, But was: True
   at describe_specifications.&lt;when_creating_specifications&gt;b__0() in c:\Development\NSpec\src...

nspec. describe specifications. when creating specifications. enumerable should not contain 1.
Expected: not collection containing 1
, But was: &lt; 1 &gt;
   at describe_specifications.&lt;when_creating_specifications&gt;b__3() in c:\Development\NSpec\src...

nspec. describe specifications. when creating specifications. 1 should be 2.
Expected: 2
, But was: 1
   at describe_specifications.&lt;when_creating_specifications&gt;b__4() in c:\Development\NSpec\src...

nspec. describe specifications. when creating specifications. 1 should not be 1.
Expected: not 1
, But was: 1
   at describe_specifications.&lt;when_creating_specifications&gt;b__6() in c:\Development\NSpec\src...

nspec. describe specifications. when creating specifications. some object should not be null.
Expected: not null
, But was: null
   at describe_specifications.&lt;when_creating_specifications&gt;b__9() in c:\Development\NSpec\src...

11 Examples, 5 Failed, 0 Pending
</pre>
</div>