<p><a name="specifications"></a></p>
<div class="zone zone-sub-page-title">
<h1>specifications</h1>
</div>
<div id="layout-content" class="group" style="padding-top: 10px;">
<pre id="describe_specifications_code" data-timestamp="2016-09-26 10:19:02 -0600" class="brush: csharp;">using NSpec;
</pre>
<pre id="describe_specifications_output" data-timestamp="2016-09-26 10:19:02 -0600" style="font-size: 1.1em !important; color: #5ce632; background-color: #1b2426; padding: 10px;">describe specifications
  when creating specifications
    true should be false (5ms) - FAILED - Expected: False, But was: True
    enumerable should be empty (1ms)
    enumerable should contain 1 (5ms)
    enumerable should not contain 1 (1ms) - FAILED - Expected: not collection containing 1, Bu...
    1 should be 2 (1ms) - FAILED - Expected: 2, But was: 1
    1 should be 1 (0ms)
    1 should not be 1 (2ms) - FAILED - Expected: not 1, But was: 1
    1 should not be 2 (0ms)
    &quot;&quot; should not be null (0ms)
    some object should not be null (0ms) - FAILED - Expected: not null, But was: null
    ninja should not be pirate (0ms)

**** FAILURES ****

nspec. describe specifications. when creating specifications. true should be false.
Expected: False, But was: True
   at describe_specifications.&lt;when_creating_specifications&gt;b__0() in c:\Development\NSpec\src...

nspec. describe specifications. when creating specifications. enumerable should not contain 1.
Expected: not collection containing 1, But was: &lt; 1 &gt;
   at describe_specifications.&lt;when_creating_specifications&gt;b__3() in c:\Development\NSpec\src...

nspec. describe specifications. when creating specifications. 1 should be 2.
Expected: 2, But was: 1
   at describe_specifications.&lt;when_creating_specifications&gt;b__4() in c:\Development\NSpec\src...

nspec. describe specifications. when creating specifications. 1 should not be 1.
Expected: not 1, But was: 1
   at describe_specifications.&lt;when_creating_specifications&gt;b__6() in c:\Development\NSpec\src...

nspec. describe specifications. when creating specifications. some object should not be null.
Expected: not null, But was: null
   at describe_specifications.&lt;when_creating_specifications&gt;b__9() in c:\Development\NSpec\src...

11 Examples, 5 Failed, 0 Pending
</pre>
</div>