@{
    var homeUrl = Href("~/");
}
<div style="margin-bottom: 0px">
    <img src="@Href("~/themes/contoso/content/images/logo.png")" style="margin-right: 10px; margin-bottom: 0px; float: left" />
    <h1 id="branding" style="padding-top: 35px;">
        @WorkContext.CurrentSite.SiteName
    </h1>
</div>
