
<p>Subscribe our newsletter and get the latest news.</p>
<input type="text" value="Name" style="width:200px;"/><br/>
<input type="text" value="Email" style="width:200px;"/><br/><br/>
<input type="submit" value="Send"/>

