@{
    var footerUrl = Href("~/Themes/Dark/Content/Images/footerimage.demo.png");
}
<p>
For more information please contact us at:<br/>
<a href="mailto:mail@bind.pt">mail@bind.pt</a><br/><br/>

Check out Bind's website:<br/>
<a href="http://www.bind.pt" target="_blank">www.bind.pt</a><br/><br/>

Follow us on twitter:<br/>
<a href="http://www.twitter.com/bindskins" target="_blank">twitter.com/bindskins</a>
</p>
<img src="@footerUrl" alt="Social Links"/>

