@{
    var contentUrl = Href("~/Themes/Dark/Content/Images/contentimage.demo.jpg");
}
<h1>Presenting the DARK theme </h1>
<p><img src="@contentUrl" alt="Demo Image"/></p>
<h2>Soon available in our online customization tool</h2> 
<p>Dark is a highly flexible theme, based in shades of black.<br/>
Stay tuned with <a href="http://www.bind.pt" target="_blank">Bind</a>, since really soon you will be able to fully configure this theme by using our online configuration tool. At the click of your mouse change colors, background images and much more, customize it to your needs, from top to bottom.<br/>
Follow us on <a href="http://www.twitter.com/bindskins" target="_blank">twitter</a> to be notified as soon as the configuration tool is released!</p>

