body {
  padding: 10px;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-family: 'HelveticaNeue', 'Helvetica Neue', 'Helvetica Neue', sans-serif;
  line-height: 20px;
  color: #170909;
}

a {
  color: #0077CC;
  text-decoration: none;
}

a:visited {
  color: #4A6B82;
}

.brand {
  font-size: 25px;
  color: black !important;
}

.page-link {
  margin-right: 15px;
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 22px;
  margin-bottom: 3px;
}

h3 {
  font-size: 21px;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

code {
  background-color: #f5f5f5;
  padding-left: 3px;
  padding-right: 3px;
}

pre {
  border: solid 1px silver;
  padding: 10px;
  font-size: 14px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

iframe {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.wordwrap {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
